*{
    margin:0;
    padding:0;
    box-sizing: border-box
}
h1{
    text-align: center;
    font-family: arial;
    margin:20px auto;
    border-bottom: 1px solid silver;
}
form{
    width: 50%;
    padding:10px;
    margin:auto;
    box-shadow: 5px 5px 10px silver    
}
input{
    width: 100%;
    padding: 10px;
    font-size: 12pt;
    margin: 5px 0px;
    border: 0px;
    border-bottom: 1px solid #eee;
    outline: none;
}
#dica{
    width: 300px;
    padding: 20px;
    background-color: white;
    border: 1px solid silver;
    border-radius: absolute;
    right: 10px;
    top: 300px;
    position: absolute;
}
#fechar{
    position: absolute;
    right: 0px;
    top: -10px;
    text-decoration: none;
    color: white;
    background-color: red;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    text-align: center;
    font-size: 25px;
}